@import "styles/utils";

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 32px;

  @include media(">desktop") {
    margin-bottom: 40px;
  }

  .logo {
    width: 56px;
    height: auto;

    @include media(">desktop") {
      width: 90px;
    }
  }
}
